@charset "utf-8";
.div-nav {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    cursor: pointer;
    color: #00000080;
}

.boton {
    margin-left: 165px;
}

.success {
    color: green;
    margin-left: 20px;
}

.error {
    width: fit-content;
    margin: 20px;
    color: red;
}

.register_success {
    color: green;
}

.hidden {
    display: none;
}

.li-nav {
    list-style: none;
    color: black;
}

.li-cerrar-sesion {
    list-style: none;
    color: gray;
    cursor: pointer;
}

.boton-cancelar {
    border: none;
    color: gray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: underline;
    background-color: white;
    float: right;
}

.li-especial {
    list-style: none;
    clear: both;
    margin: 20px;
}

.registro {
    float: right;
    width: 150px;
}

.div-registro {
    width: 350px;
}