.div-nav {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    cursor: pointer;
    color: #00000080;
    

}


.li-nav{
    list-style: none;
    color: black;
       
    
}

.li-cerrar-sesion{
    list-style: none;
    color: gray;
    cursor: pointer; 
}