<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="http://192.168.1.34:5002/static/css/style_for_apuestas.css">
    <link rel="shortcut icon" href="http://192.168.1.34:5002/static/images/bectec.png">
    <title>BecTec</title>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">BecTec</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"></li>
                <div class="div-nav">Partidos</div>
                </li>
                <li class="nav-item">
                    <div class="div-nav">Apuestas</div>
                </li>
                <li class="nav-item">
                    <div class="div-nav">Información</div>
                </li>
                <li class="nav-item">
                    <div class="div-nav">Depositar</div>

                </li>
            </ul>


        </div>
        <li class="li-nav" id="mostrar_dinero" value="{{dinero_en_cuenta}}">Dinero en cuenta: {{dinero_en_cuenta}}</li>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <li class="li-cerrar-sesion" onclick="window.location.href='/'"><u>Cerrar sesión</u></li>

    </nav>
    </nav>


    <div class="container">
        <div class="row">
            {% for apuestas in data%}
            <div class="col-4">
                <div class="boleta">
                    <h4>El id de apuesta es: {{apuestas.id_apuesta}}</h4>
                    {% for partido in data2%} {%if apuestas.id_partido == partido.id_partido%} {% for equipo in data4%} {%if equipo.id_equipo == partido.equipo_a%}
                    <label>EL juego es: {{equipo.pais}} vs.</label> {%endif%} {%if equipo.id_equipo == partido.equipo_b%}
                    <label>{{equipo.pais}}</label> {%endif%} {% endfor%} {%endif%} {% endfor%} {% for user in data3%} {%if apuestas.id_usuario == user.id_persona%}
                    <h4>Colocada por: {{user.usuario}}</h4>
                    {%endif%} {% endfor%}
                    <h4>El monto apostado es: {{apuestas.monto}}</h4>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>

    <script>
        const divnavs = document.querySelectorAll(".div-nav")

        for (let i = 0; i < divnavs.length; i++) {
            const divnav = divnavs[i];

            divnav.onclick = function() {





                const form = document.createElement("form")
                const i1 = document.createElement("input")
                const i2 = document.createElement("input")
                const i3 = document.createElement("input")
                const i4 = document.createElement("input")

                form.className = "hidden"

                if (divnav.innerHTML === "Partidos") {
                    form.action = "/partidos"

                } else if (divnav.innerHTML === "Apuestas") {
                    form.action = "/apuestas"

                } else if (divnav.innerHTML === "Información") {
                    form.action = "/informacion"

                } else if (divnav.innerHTML === "Depositar") {
                    form.action = "/depositar"

                }


                form.method = "POST"

                i1.type = "text"
                i1.name = "usuario"
                i1.value = "{{d['usuario']}}"

                i2.type = "password"
                i2.name = "password"
                i2.value = "{{d['password']}}"

                i3.type = "text"
                i3.name = "id"
                i3.value = "{{d['id']}}"

                i4.type = "text"
                i4.name = "dinero_en_cuenta"
                i4.value = document.getElementById("mostrar_dinero").value


                form.appendChild(i1)
                form.appendChild(i2)
                form.appendChild(i3)
                form.appendChild(i4)

                document.body.appendChild(form)
                form.submit()
                document.body.removeChild(form)


            }


        }
    </script>



</body>





</html>