<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='css/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="http://127.0.0.1:5002/static/css/style_for_partidos.css">
    <title>BetsTec</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">BetsTec</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"></li>
                <div class="div-nav">Partidos</div>
                </li>
                <li class="nav-item">
                    <div class="div-nav">Apuestas</div>
                </li>
                <li class="nav-item">
                    <div class="div-nav">Información</div>
                </li>
                <li class="nav-item">
                    <div class="div-nav">Depositar</div>

                </li>
            </ul>
        </div>
        <li class="li-nav" id="mostrar_dinero" value="{{d['dinero_en_cuenta']}}">Dinero en cuenta: {{d['dinero_en_cuenta']}}</li>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <li class="li-cerrar-sesion" onclick="window.location.href='/'"><u>Cerrar sesión</u></li>

    </nav>
    </nav>

    <h2>Partidos de la Copa América:</h1><br>
        <div class="container">
            <div class="row" id="row">
                <div class="col-6">
                    {% for equipo in data%} {% for country in data2%} {%if country.id_equipo == equipo.equipo_a and equipo.equipo_a==1%}
                    <label>{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Argentina.png" height="20" class="fotos_pais" /><label id="description1.1">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;
                    <label id="description2.1">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton1" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==2%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Chile.png" height="20" /><label id="description1.2">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.2">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton2" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==3%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Colombia.png" height="20" /><label id="description1.3">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.3">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton3" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==4%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Peru.png" height="20" /><label id="description1.4">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.4">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton4" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==5%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Ecuador.png" height="20" /><label id="description1.5">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.5">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton5" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==6%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Brasil.png" height="20" /><label id="description1.6">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.6">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton6" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==7%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Paraguay.png" height="20" /><label id="description1.7">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.7">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton7" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==8%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Venezuela.png" height="20" /><label id="description1.8">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.8">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton8" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==9%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Bolivia.png" height="20" /><label id="description1.9">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.9">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton9" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%elif country.id_equipo == equipo.equipo_a and equipo.equipo_a==10%}
                    <label id="id_partido">{{equipo.id_partido}}&nbsp;</label><img src="http://127.0.0.1:5002/static/images/Uruguay.png" height="20" /><label id="description1.10">{{country.pais}}</label>&nbsp; &nbsp; &nbsp;<label id="description2.10">{{equipo.porcentaje_1 }}</label>
                    <input type="button" name="elegir" value="1" id="boton10" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_1}}" data-pais="{{country.pais}}"> {%endif%} {%if country.id_equipo == equipo.equipo_b and
                    equipo.equipo_b==1%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.1" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.1">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.1">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Argentina.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==2%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.2" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.2">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.2">{{country.pais}}</label><img src="http://127.0.0.1:5002/static/images/Chile.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==3%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.3" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.3">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.3">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Colombia.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==4%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.4" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.4">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.4">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Peru.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==5%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.5" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.5">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.5">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Ecuador.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==6%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.6" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.6">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.6">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Brasil.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==7%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.7" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.7">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.7">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Paraguay.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==8%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.8" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.8">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.8">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Venezuela.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==9%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.9" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.9">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.9">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Bolivia.png" height="20" /><br> {%elif country.id_equipo == equipo.equipo_b and equipo.equipo_b==10%} &nbsp;&nbsp;
                    <input type="button" name="elegir" value="2" id="boton2.10" class="boton_apuesta" data-id="{{equipo.id_partido}}" data-por="{{equipo.porcentaje_2}}" data-pais="{{country.pais}}"> <label id="description2.10">{{equipo.porcentaje_2}}</label>&nbsp;
                    &nbsp; &nbsp;<label id="description1.10">{{country.pais}}</label> <img src="http://127.0.0.1:5002/static/images/Uruguay.png" height="20" /><br> {%endif%} {%endfor%} {%endfor%}
                </div>
            </div>
        </div>
</body>

</html>



<script>
    const divnavs = document.querySelectorAll(".div-nav")

    for (let i = 0; i < divnavs.length; i++) {
        const divnav = divnavs[i];

        divnav.onclick = function() {





            const form = document.createElement("form")
            const i1 = document.createElement("input")
            const i2 = document.createElement("input")
            const i3 = document.createElement("input")
            const i4 = document.createElement("input")

            form.className = "hidden"

            if (divnav.innerHTML === "Partidos") {
                form.action = "/partidos"

            } else if (divnav.innerHTML === "Apuestas") {
                form.action = "/apuestas"

            } else if (divnav.innerHTML === "Información") {
                form.action = "/informacion"

            } else if (divnav.innerHTML === "Depositar") {
                form.action = "/depositar"

            }


            form.method = "POST"

            i1.type = "text"
            i1.name = "usuario"
            i1.value = "{{d['usuario']}}"

            i2.type = "password"
            i2.name = "password"
            i2.value = "{{d['password']}}"

            i3.type = "text"
            i3.name = "id"
            i3.value = "{{d['id']}}"

            i4.type = "text"
            i4.name = "dinero_en_cuenta"
            i4.value = document.getElementById("mostrar_dinero").value



            form.appendChild(i1)
            form.appendChild(i2)
            form.appendChild(i3)
            form.appendChild(i4)

            document.body.appendChild(form)
            form.submit()
            document.body.removeChild(form)


        }


    }

    const botones_apuesta = document.querySelectorAll(".boton_apuesta");

    for (let i = 0; i < botones_apuesta.length; i++) {
        const boton_apuesta = botones_apuesta[i]

        boton_apuesta.onclick = function() {

            if (document.getElementById("temp") !== null) {
                document.getElementById("row").removeChild(document.getElementById("temp"))
            }


            const col_4 = document.createElement("div")
            const i1 = document.createElement("input")
            const i2 = document.createElement("input")
            const i3 = document.createElement("input")
            const label = document.createElement("label")
            const br = document.createElement("br")
            const br2 = document.createElement("br")
            const div = document.createElement("div")
            const texto = document.createTextNode(" ")

            const pais = boton_apuesta.dataset['pais']
            const porcentaje = boton_apuesta.dataset['por']
            const id = boton_apuesta.dataset['id']


            div.id = "msg"
            div.className = "hidden"
            div.innerHTML = "Apuesta exitosa!"

            i1.type = "text"
            i1.name = "montos"
            i1.id = "monto"
            i2.type = "button"
            i2.name = "boton_submit"
            i2.id = "boton_submit_apuesta"
            i2.value = "enviar"
            i3.type = "button"
            i3.name = "cancel"
            i3.className = "boton-cancelar"
            i3.value = "Cancelar"

            i3.onclick = function(e) {
                e.preventDefault()
                document.getElementById("row").removeChild(document.getElementById("temp"))


            }

            label.innerHTML = 'Pais:&nbsp;' + pais + '&nbsp;&nbsp;&nbsp;&nbsp;Porcentaje:&nbsp;' + porcentaje
            label.htmlFor = "montos"

            col_4.appendChild(label)
            col_4.appendChild(br)
            col_4.appendChild(i1)
            col_4.appendChild(texto)
            col_4.appendChild(i2)
            col_4.appendChild(i3)
            col_4.appendChild(br2)
            col_4.appendChild(div)
            col_4.className = "col-5"
            col_4.id = "temp"

            i2.onclick = function() {
                fetch('/monto', {
                    method: 'POST',
                    body: JSON.stringify({
                        'porcentaje': porcentaje,
                        'monto': document.getElementById('monto').value,
                        'id_partido': id,
                        'id_persona': "{{d['id']}}"


                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }

                }).then(function(r) {
                    return r.json()
                }).then(function(json) {
                    var value = document.getElementById("mostrar_dinero").value

                    if (json['resultado'] === "incorrect_input") {
                        document.getElementById("msg").className = "error"
                        document.getElementById("msg").innerHTML = "Error, eso no es dinero"

                    }
                    if (json['resultado'] === "negative_bet") {
                        document.getElementById("msg").className = "error"
                        document.getElementById("msg").innerHTML = "Error, apuesta negativa"



                    } else if (json['resultado'] === "null_bet") {
                        document.getElementById("msg").className = "error"
                        document.getElementById("msg").innerHTML = "Error, apuesta nula"



                    } else if (json['resultado'] === "insufficient_funds") {
                        document.getElementById("msg").className = "error"
                        document.getElementById("msg").innerHTML = "Error, fondos insuficientes"



                    } else if (json['resultado'] === "success") {
                        document.getElementById("msg").className = "success"
                        document.getElementById("msg").innerHTML = "Apuesta exitosa!"
                        value = (parseInt(value) - parseInt(document.getElementById("monto").value)).toString()
                        document.getElementById("mostrar_dinero").value = value
                        document.getElementById("mostrar_dinero").innerHTML = "Dinero en cuenta: " + value



                        document.getElementById('monto').value = ""
                        setTimeout('document.getElementById("row").removeChild(document.getElementById("temp"))', 500)


                    }





                })
            }


            document.getElementById("row").appendChild(col_4)





        }
    }
</script>